.example-container {
  width: auto;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
mat-drawer {
  width: 350px;
  background-color: #003078;
}

.example-sidenav-content {
}

.example-sidenav {
  padding: 20px;
}
