<div class="wrapper">
  <div class="content__left">
    <div class="content__left__top">
      <!-- <img src="assets/img/banner1.jpg" /> -->
      <div class="opacity">
        <h2>Picture 1</h2>
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        <button class="discover">discover</button>
      </div>
    </div>
    <div class="content__left__bottom">
      <div class="content__left__bottom__left">
        <!-- <img src="assets/img/banner3.jpg" /> -->
        <div class="opacity">
          <h2>Picture 1</h2>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
          <button class="discover">discover</button>
        </div>
      </div>
      <div class="content__left__bottom__right">
        <!-- <img src="assets/img/banner2.jpg" /> -->
        <div class="opacity">
          <h2>Picture 1</h2>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
          <button class="discover">discover</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content__right">
    <!-- <img src="assets/img/banner5.jpg" /> -->
    <div class="opacity">
      <h2>Picture 1</h2>
      <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
      <button class="discover">discover</button>
    </div>
  </div>
</div>
